 .u-section-1 {
  background-image: none;
  min-height: 1296px;
}

.u-section-1 .u-shape-1 {
  height: 411px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -351px auto 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/bg_6.jpeg");
  background-position: 50% 50%;
  min-height: 622px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 161px;
}

.u-section-1 .u-container-layout-2 {
  padding: 54px 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1140px;
  margin: 9px auto 60px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 384px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 384px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1141px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 513px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 133px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 341px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 298px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 905px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 393px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1160px;
  }

  .u-section-1 .u-shape-1 {
    height: 251px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -192px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 295px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 132px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
    margin-bottom: 49px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1287px;
  }

  .u-section-1 .u-shape-1 {
    height: 243px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -176px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 230px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1440px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1038px;
  margin: 145px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1258px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 27px 30px;
}

.u-section-2 .u-text-1 {
  font-family: Roboto, sans-serif;
  text-transform: none;
  font-weight: normal;
  width: 262px;
  margin: 146px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 30px 13px 0;
}

.u-section-2 .u-social-icons-1 {
  height: 25px;
  min-height: 16px;
  width: 136px;
  min-width: 100px;
  margin: 47px auto 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1258px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 44px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 33px auto 0 16px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  width: 213px;
  height: 213px;
  background-image: url("images/coach_oli.jpeg");
  background-position: 50% 0%;
  margin: -1351px auto 60px 143px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1139px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1139px;
  }

  .u-section-2 .u-image-1 {
    background-position: 50% 50%;
    margin-top: -1268px;
    margin-left: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    width: 222px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1613px;
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1817px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1751px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1370px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1838px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -2389px;
    margin-bottom: 2177px;
  }
}